<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Companies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/shards.min.css">
    </head>
    <body>
        <div th:switch="${companies}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No Company!</h2>
                    <div>
                    <form action="#" th:action="@{/searchcompany}" method="post">
                        <div class="row">
                            
                            <div class="form-group col-md-6">
                                <label for="date" class="col-form-label">Date</label>
                                <input type="text" th:name="publishDate" class="form-control" id="date" placeholder="Date" th:value="${publishDate}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="search">
                            </div>
                        </div>    
                    </form>
                    </div>
                    <div th:case="*">
                        <h2 class="my-5">Companies</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>companyId</th>
                                    <th>companyName</th>
                                    <th>companyAddress</th>
                                    <th>publishDate</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="company : ${companies}">
                                    <td th:text="${company.companyId}"></td>
                                    <td th:text="${company.companyName}"></td>
                                    <td th:text="${company.companyAddress}"></td>
                                    <td th:text="${company.publishDate}"></td>
                                    <td><a th:href="@{/company/edit/{id}(id=${company.companyId})}" class="btn btn-primary">edit</a></td>
                                    <td><a th:href="@{/company/delete/{id}(id=${company.companyId})}" class="btn btn-primary">remove</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/company/add" class="btn btn-primary">Add Company</a></p>
                </div>
            </div>
        </div>
    </body>
</html>